version: '3.9'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - kafka1
      - kafka2
    command: sh -c "poetry run python manage.py migrate && poetry run python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .envexample

  consumer_group_1_first:
    build: .
    container_name: consumer_group_1_first
    depends_on:
      - kafka1
      - kafka2
    command: >
      sh -c "cd apps/todo_monitor/ && export PYTHONPATH=../../. && alembic upgrade head && sleep 10 
      && poetry run python main.py run-comleted-tasks-consumer consumer_1 group_1"
    env_file:
      - apps/todo_monitor/.envexample

  consumer_group_1_second:
    build: .
    container_name: consumer_group_1_second
    depends_on:
      - kafka1
      - kafka2
    command: >
      sh -c "sleep 10 && cd apps/todo_monitor/ && export PYTHONPATH=../../. && alembic upgrade head 
      && poetry run python main.py run-comleted-tasks-consumer consumer_2 group_1"
    env_file:
      - apps/todo_monitor/.envexample


  consumer_group_2:
    build: .
    container_name: consumer_group_2
    depends_on:
      - kafka1
      - kafka2
    command: >
      sh -c "sleep 10 && cd apps/todo_monitor/ && export PYTHONPATH=../../. && alembic upgrade head  
      && poetry run python main.py run-info-tasks-consumer consumer group_2"
    env_file:
      - apps/todo_monitor/.envexample

  db:
    image: postgres:13
    ports:
      - "6432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: todo
      DB_SECOND_NAME: alchemy_todo
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh  # скрипт для создания доп. БД
    env_file:
      - .envexample

  zookeeper:
    image: wurstmeister/zookeeper:latest
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - 2181:2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka1:
    image: wurstmeister/kafka
    container_name: kafka1
    ports:
      - 9092:9092
    environment:
      KAFKA_LISTENERS: "INTERNAL://:29092,EXTERNAL://:9092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka1:29092,EXTERNAL://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CREATE_TOPICS: "completed_tasks:2:2"  # количество партиций и репликаций топика по брокерам( <= кол-во брокеров в кластере)
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

  kafka2:
    image: wurstmeister/kafka
    container_name: kafka2
    ports:
      - 9093:9093
    environment:
      KAFKA_LISTENERS: "INTERNAL://:29093,EXTERNAL://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka2:29093,EXTERNAL://localhost:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

  kafdrop:
    image: obsidiandynamics/kafdrop
    restart: "no"
    ports:
      - 9000:9000
    environment:
      KAFKA_BROKERCONNECT: kafka1:29092,kafka2:29093
    depends_on:
      - kafka1
      - kafka2

volumes:
  postgres_data:
